<% content_for :title do %>
<%= @entry.meal_type %> &ndash; <%= DateTime.now.to_s(:really_cool_date)%>
<% end %>

<div class="columns mt-6 is-centered">
<div class="column is-one-third">
  Meal type:
  <%= @entry.meal_type %>

  Calories:
  <%= @entry.calories %>

  Protiens:
  <%= @entry.protiens %>

  Carbohydrates:
  <%= @entry.carbohydrates %>

  Fats:
  <%= @entry.fats %>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
</div>
</div>

